USE [master]
GO
/****** Object:  Database [RapportData]    Script Date: 07/15/2020 09:36:28 ******/
CREATE DATABASE [RapportData] ON  PRIMARY 
( NAME = N'RapportData', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\RapportData.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'RapportData_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\RapportData_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RapportData].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RapportData]
GO
/****** Object:  Table [dbo].[MyUser]    Script Date: 07/15/2020 09:36:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MyUser](
	[Id] [uniqueidentifier] NOT NULL,
	[FirstName] [nchar](160) NOT NULL,
	[LastName] [nchar](160) NOT NULL,
	[Phone] [nchar](20) NOT NULL,
	[Email] [nchar](100) NOT NULL,
	[UserLogin] [nchar](100) NOT NULL,
	[Password] [nchar](100) NOT NULL,
	[Token] [nvarchar](255) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[ModifiedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_Utilisateur] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [U_User_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [U_User_Login] UNIQUE NONCLUSTERED 
(
	[UserLogin] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Horaire]    Script Date: 07/15/2020 09:36:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Horaire](
	[Id] [uniqueidentifier] NOT NULL,
	[MyUserId] [uniqueidentifier] NULL,
	[DateDuJourHor] [date] NULL,
	[HeureArriveHor] [datetime] NULL,
	[HeureDepartHor] [datetime] NULL,
 CONSTRAINT [PK_Horaire_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Activite]    Script Date: 07/15/2020 09:36:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Activite](
	[Id] [uniqueidentifier] NOT NULL,
	[MyUserId] [uniqueidentifier] NULL,
	[ContenuAct] [varchar](1000) NULL,
	[DateAct] [datetime] NULL,
 CONSTRAINT [PK_Activite_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
